<!DOCTYPE html>
<html lang="es">

<head>
    <title>Carreras</title>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="icon" type="image/png" href="/assets/img/favicon.png" />
    <link rel="stylesheet" href="/Styles/main.css">
    <link rel="stylesheet" href="/Styles/bootstrap.min.css">
    <link rel="stylesheet" href="/Styles/Admin_PanelControl.css">
    <script src="/js/jsBoostrap/jquery-3.1.1.min.js"></script>
    <script src="/js/jsBoostrap/bootstrap.min.js"></script>
    <script src="/js/jsBoostrap/sweetalert2.min.js"></script>
    <script src="/js/jsBoostrap/material.min.js"></script>
    <script src="/js/jsBoostrap/ripples.min.js"></script>
    <script src="/js/jsBoostrap/main.js"></script>
</head>

<body>
    <!-- Barra lateral (SideBar) -->
    <section class="full-box cover dashboard-sideBar">
        <div class="full-box dashboard-sideBar-bg btn-menu-dashboard"></div>
        <div class="full-box dashboard-sideBar-ct">
            <div class="full-box text-uppercase text-center text-titles dashboard-sideBar-title">
                Bedel <i class="zmdi zmdi-close btn-menu-dashboard visible-xs"></i>
            </div>
            <div class="full-box dashboard-sideBar-UserInfo">
                <figure class="full-box">
                    <img src="/assets/img/logo_IES.jpg" alt="UserIcon">
                    <h5>IES 9-024 "Lavalle"</h5>
                </figure>
                <ul class="full-box list-unstyled text-center">
                    <li><a href="#" class="btn-exit-system" id="logout-button"><i class="zmdi zmdi-power"></i></a></li>
                </ul>
            </div>
            <ul class="list-unstyled full-box dashboard-sideBar-Menu">
                <li><a href="/Administracion"><i class="zmdi zmdi-graduation-cap zmdi-hc-fw"></i> Carreras</a></li>
                <li><a href="/mesa"><i class="zmdi zmdi-calendar-check zmdi-hc-fw"></i> Mesas</a></li>
                <li><a href="/alumnoEstado"><i class="zmdi zmdi-accounts zmdi-hc-fw"></i> Gestion academica</a></li>
                <li><a href="/AdministracionSuperAdmin"><i class="zmdi zmdi-settings zmdi-hc-fw"></i> Super Admin</a>
                </li>
                {{!-- <li><a href="/materia"><i class="zmdi zmdi-library zmdi-hc-fw"></i> Materias</a></li>
                <li><a href="/alumno"><i class="zmdi zmdi-accounts zmdi-hc-fw"></i> Alumnos</a></li> --}}
            </ul>

        </div>
    </section>

    <!-- Contenido de la página principal -->
    <section class="full-box dashboard-contentPage" style="overflow-y: auto; overflow-x: hidden;">

        <!-- Barra de navegación superior (NavBar) -->
        <nav class="full-box dashboard-Navbar">
            <ul class="full-box list-unstyled text-right">
                <li class="pull-left">
                    <!-- Botón para mostrar/ocultar el menú lateral -->
                    <a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
                </li>
            </ul>
        </nav>
        <div class="container">
            <h1 style="margin-top: 68px;">Gestión Académica</h1>

            <h2>Formulario de Alumno</h2>
            <form id="alumnoForm">
                <label for="nombreAlumno">Nombre del Alumno:</label><br>
                <input type="text" id="nombreAlumno" name="nombreAlumno" required><br><br>

                <label for="nombreMateria">Nombre de la Materia:</label><br>
                <input type="text" id="nombreMateria" name="nombreMateria" required><br><br>

                <label for="estadoActual">Estado Actual:</label><br>
                <select id="estadoActual" name="estadoActual" required>
                    <option value="acreditado">Acreditado</option>
                    <option value="regular">Regular</option>
                    <option value="libre">Libre</option>
                </select><br><br>

                <button type="submit">Guardar</button>
            </form>

            <!-- Filtros para buscar alumnos -->
            <div class="row mb-4">
                <div class="col-md-6">
                    <input id="numDocAlumn" type="text" class="form-control"
                        placeholder="Buscar por nombre o documento">
                </div>
                <div class="col-md-2">
                    <button id="BuscarAlumnoBtn" class="btn btn-primary">Buscar</button>
                </div>
            </div>

            <!-- Tabla de materias -->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Materia</th>
                        <th>Estado Actual</th>
                        <th>Fecha</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each materiasConEstado}}
                    <tr>
                        <td>{{this.materia}}</td>
                        <td>{{this.estado}}</td>
                        <td>{{this.fecha}}</td>
                        <td>
                            <!-- Botón Modificar -->
                            <button class="btn btn-success" data-toggle="modal"
                                data-target="#modifyAlumnoEstadoModal-{{this.id}}"
                                data-id="{{this._id}}">Modificar</button>

                            <!-- Modal para modificar el estado del alumno -->
                            <div class="modal fade" id="modifyAlumnoEstadoModal" tabindex="-1" role="dialog"
                                aria-labelledby="modifyAlumnoEstadoModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modifyAlumnoEstadoModalLabel">Modificar Estado
                                                del Alumno</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form id="formModificarAlumnoEstado">
                                                <!-- Campo oculto para el ID del estado del alumno -->
                                                <input type="hidden" id="idAlumnoEstado" name="idAlumnoEstado">

                                                <div class="form-group">
                                                    <label for="modificarNombreMateria">Nombre de la Materia</label>
                                                    <input type="text" class="form-control" id="modificarNombreMateria"
                                                        name="modificarNombreMateria" required>
                                                </div>

                                                <div class="form-group">
                                                    <label for="modificarEstadoActual">Estado Actual</label>
                                                    <input type="text" class="form-control" id="modificarEstadoActual"
                                                        name="modificarEstadoActual" required>
                                                </div>

                                                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <!-- Botón Eliminar -->
                            <!-- Botón para abrir el modal -->
                            <button class="btn btn-danger" onclick="openDeleteModal('{{this.id}}')" data-toggle="modal"
                                data-target="#confirmDeleteModal">Eliminar</button>

                            <!-- Modal Confirmar Baja -->
                            <div class="modal" id="confirmDeleteModal" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Confirmar Baja</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                                onclick="closeModal()">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            ¿Estás seguro de que deseas dar de baja esta carrera?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                onclick="closeModal()">Cancelar</button>
                                            <button type="button" class="btn btn-danger" id="confirmDeleteBtn"> Dar De
                                                Baja</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button id="abrirModalBtn" onclick="abrirModal()">Ver Historial</button>

                            <!-- Modal HISTORIAL-->
                            <div id="modalHistorialEstado" class="modal">
                                <div class="modal-content">
                                    <span id="cerrarModalBtn" class="close" onclick="cerrarModal()">&times;</span>
                                    <h2>Historial de Estados</h2>
                                    <div id="historial-container"></div>
                                    <button onclick="cerrarModal()">Cerrar</button> <!-- Botón para cerrar el modal -->
                                </div>
                            </div>
                        </td>

                    </tr>
                    {{/each}}
                </tbody>
            </table>


    </section>
    <!-- Scripts -->
    <script src="/js/Admin_AlumnoEstado.js"></script>
    <script>
        // Inicialización del componente de Material Design
        $.material.init();
    </script>

</body>

</html>