<!DOCTYPE html>
<html lang="es">

<head>
    <title>Plan de Estudio</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/assets/img/favicon.png" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Styles/main.css" />
    <link rel="stylesheet" href="/Styles/bootstrap.min.css">

    <link rel="stylesheet" href="/Styles/Admin_PlanEstudio.css">
    <script src="/js/Admin_PlanEstudio.js"></script>

    <script src="/js/jsBoostrap/jquery-3.1.1.min.js"></script>
    <script src="/js/jsBoostrap/bootstrap.min.js"></script>
    <script src="/js/jsBoostrap/sweetalert2.min.js"></script>
    <script src="/js/jsBoostrap/material.min.js"></script>
    <script src="/js/jsBoostrap/ripples.min.js"></script>
    <script src="/js/jsBoostrap/main.js"></script>
</head>

<body>
    <section class="full-box cover dashboard-sideBar">
        <div class="full-box dashboard-sideBar-bg btn-menu-dashboard"></div>
        <div class="full-box dashboard-sideBar-ct">
            <div class="full-box text-uppercase text-center text-titles dashboard-sideBar-title">
                Bedel <i class="zmdi zmdi-close btn-menu-dashboard visible-xs"></i>
            </div>
            <div class="full-box dashboard-sideBar-UserInfo">
                <figure class="full-box">
                    <img src="/assets/img/logo_IES.jpg" alt="UserIcon">
                </figure>
                <ul class="full-box list-unstyled text-center">
                    <li><a href="#" class="btn-exit-system" id="logout-button"><i class="zmdi zmdi-power"></i></a></li>
                </ul>
            </div>
            <ul class="list-unstyled full-box dashboard-sideBar-Menu">
                <li><a href="/Administracion"><i class="zmdi zmdi-graduation-cap zmdi-hc-fw"></i> Carreras</a></li>
                <li><a href="/mesa"><i class="zmdi zmdi-calendar-check zmdi-hc-fw"></i> Mesas</a></li>
                <li><a href="/alumnoEstado"><i class="zmdi zmdi-accounts zmdi-hc-fw"></i> Gestión académica</a></li>
                <li><a href="/AdministracionSuperAdmin"><i class="zmdi zmdi-settings zmdi-hc-fw"></i> Super Admin</a>
                </li>
            </ul>
        </div>
    </section>

    <!-- Contenido de la página principal -->
    <section class="full-box dashboard-contentPage" style="overflow-y: auto; overflow-x: hidden;">
        <nav class="full-box dashboard-Navbar">
            <ul class="full-box list-unstyled text-right">
                <li class="pull-left">
                    <a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
                </li>
            </ul>
        </nav>

        <div class="container mt-4">
            <!-- Información de la Carrera -->
            <h3>Información de la Carrera</h3>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Nombre</th>
                        <td>{{carrera.nombreCarrera}}</td>
                    </tr>
                    <tr>
                        <th>Titulo</th>
                        <td>{{carrera.titulo}}</td>
                    </tr>
                    <tr>
                        <th>Carga horaria</th>
                        <td>{{carrera.cargaHoraria}}</td>
                    </tr>
                    <tr>
                        <th>Duracion</th>
                        <td>{{carrera.duracion}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Materias -->
        <div class="container mt-4">
            <h4 class="mt-4">Materias</h4>
            <div class="mb-3">
                <button class="btn btn-success btn-lg" data-toggle="modal" data-target="#agregarMateriaModal"
                    style="border-radius: 8px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);">
                    <i class="zmdi zmdi-plus-circle"></i> Añadir Materia
                </button>

            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre de la Materia</th>
                        <th>Correlativas</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each materias}}
                    <tr>
                        <td>{{this.nombreMateria}}</td>
                        <td>
                            {{#if this.correlativas}}
                            {{#each this.correlativas}}
                            {{this.nombreMateria}}<br>
                            {{/each}}
                            {{else}}
                            Sin correlativas
                            {{/if}}
                        </td>
                        <td>
                            <button class="btn btn-outline-primary btn-sm editar-btn">
                                <i class="zmdi zmdi-edit"></i> Editar
                            </button>
                            <button class="btn btn-outline-danger btn-sm" onclick="eliminarMateria({{this._id}});" id="btnEliminarMateria">
                                Eliminar
                            </button>


                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

        {{!-- Alumnos --}}
        <div class="container mt-4">
            <h4 class="mt-4">Alumnos</h4>
            <div class="mb-3">

                <button class="btn btn-success btn-lg" data-toggle="modal" data-target="#agregarAlumnoModal"
                    style="border-radius: 8px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);">
                    <i class="zmdi zmdi-plus-circle"></i> Añadir Alumno
                </button>
                <button class="btn btn-info btn-lg" data-toggle="modal" data-target="#alumnosDadoBajaModal"
                    style="border-radius: 8px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);">
                    <i class="zmdi zmdi-eye"></i> Ver Alumnos Dados de Baja
                </button>

            </div>
            <table class="table table-st">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Documento</th>
                                <th>Email</th>
                                <th>Curso</th>
                                <th>Corte</th>
                                <th>Título</th>
                                <th>Psicofísico</th>
                                <th>Partida</th>
                                <th>DNI</th>
                                <th>Analítico</th>
                                <th>Penales</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each planEstudio.alumnos}}
                            <tr>
                                <td>{{this.nombreCompleto}}</td>
                                <td>{{this.numDocAlumn}}</td>
                                <td>{{this.emailAlumn}}</td>
                                <td>{{this.curso}}</td>
                                <td>{{this.corte}}</td>
                                <td>
                                    {{#if this.tituloSecundario}}
                                    <i class="zmdi zmdi-check-circle text-success"></i>
                                    {{else}}
                                    <i class="zmdi zmdi-close-circle text-danger"></i>
                                    {{/if}}
                                </td>
                                <td>
                                    {{#if this.psicofisico}}
                                    <i class="zmdi zmdi-check-circle text-success"></i>
                                    {{else}}
                                    <i class="zmdi zmdi-close-circle text-danger"></i>
                                    {{/if}}
                                </td>
                                <td>
                                    {{#if this.partidaNacim}}
                                    <i class="zmdi zmdi-check-circle text-success"></i>
                                    {{else}}
                                    <i class="zmdi zmdi-close-circle text-danger"></i>
                                    {{/if}}
                                </td>
                                <td>
                                    {{#if this.dniActualizado}}
                                    <i class="zmdi zmdi-check-circle text-success"></i>
                                    {{else}}
                                    <i class="zmdi zmdi-close-circle text-danger"></i>
                                    {{/if}}
                                </td>
                                <td>
                                    {{#if this.analiticoFiel}}
                                    <i class="zmdi zmdi-check-circle text-success"></i>
                                    {{else}}
                                    <i class="zmdi zmdi-close-circle text-danger"></i>
                                    {{/if}}
                                </td>
                                <td>
                                    {{#if this.antecedenPen}}
                                    <i class="zmdi zmdi-check-circle text-success"></i>
                                    {{else}}
                                    <i class="zmdi zmdi-close-circle text-danger"></i>
                                    {{/if}}
                                </td>
                                <td>
                                    <button class="btn btn-outline-primary btn-sm" data-toggle="modal"
                                        data-target="#editarModal-{{this._id}}">
                                        <i class="zmdi zmdi-edit"></i>
                                    </button>
                                    <button class="btn btn-outline-warning btn-sm" data-toggle="modal"
                                        data-target="#darBajaModal-{{this._id}}">
                                        <i class="zmdi zmdi-eye-off"></i>
                                    </button>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                </div>
            </table>

        </div>

        <!-- Modal para agregar alumno -->
        <div class="modal fade" id="agregarAlumnoModal" tabindex="-1" aria-labelledby="agregarAlumnoModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="agregarAlumnoModalLabel">Agregar Alumno</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="formAgregar" method="post" action="/alumno/agregarAlumnoPlanEstudio">
                            <div>
                                <label for="nombreCompleto">Nombre Completo:</label>
                                <input type="text" id="nombreCompleto" name="nombreCompleto" required />
                            </div>
                            <div>
                                <label for="numDocAlumn">Número de Documento:</label>
                                <input type="number" id="numDocAlumn" name="numDocAlumn" required
                                    placeholder="Sin puntos" />
                            </div>
                            <div>
                                <label for="nombre">Nombre:</label>
                                <input type="text" id="nombre" name="nombre" required />
                            </div>
                            <div>
                                <label for="corte">Corte:</label>
                                <input type="text" id="corte" name="corte" required>
                            </div>
                            <div>
                                <label for="emailAlumn">Email:</label>
                                <input type="email" id="emailAlumn" name="emailAlumn" />
                            </div>
                            <div>
                                <label for="curso">Curso:</label>
                                <input type="curso" id="curso" name="curso" required
                                    placeholder="Primero, Segundo, etc" />
                            </div>
                            <div>
                                <label for="tituloSecundario">Título Secundario:</label>
                                <input type="checkbox" name="tituloSecundario" value="true" />

                            </div>
                            <div>
                                <label for="psicofisico">Psicofísico:</label>
                                <input type="checkbox" id="psicofisico" name="psicofisico" value="true" />

                            </div>
                            <div>
                                <label for="partidaNacim">Partida de Nacimiento:</label>
                                <input type="checkbox" id="partidaNacim" name="partidaNacim" value="true" />

                            </div>
                            <div>
                                <label for="dniActualizado">DNI Actualizado:</label>
                                <input type="checkbox" id="dniActualizado" name="dniActualizado" value="true" />

                            </div>
                            <div>
                                <label for="analiticoFiel">Analítico Fiel:</label>
                                <input type="checkbox" id="analiticoFiel" name="analiticoFiel" value="true" />

                            </div>
                            <div>
                                <label for="antecedenPen">Antecedentes Penales:</label>
                                <input type="checkbox" id="antecedenPen" name="antecedenPen" value="true" />

                            </div>
                            <input type="hidden" name="idCarrera" value="{{carrera._id}}">
                            <input type="hidden" name="idPlanEstudioSeleccionado" value="{{planEstudio._id}}">
                            {{!-- <div>
                                <input type="hidden" id="idPlanEstudioSeleccionado" name="idPlanEstudioSeleccionado"
                                    value={{planEstudio._id}} />
                            </div>
                            <div>
                                <input type="hidden" id="idCarrera" name="idCarrera" value={{carrera._id}} />
                            </div> --}}
                            <button type="submit" class="btn btn-add">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal para agregar materia -->
        <div class="modal fade" id="agregarMateriaModal" tabindex="-1" aria-labelledby="agregarMateriaModalLabel"
            style="z-index: 1231 !important;" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="agregarMateriaModalLabel">Agregar Materia</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/materia/nuevaMateriaPlanDeEstudio" method="POST">
                            <!-- Campo para ingresar el nombre de la materia -->
                            <label for="nombreMateria">Nombre de la Materia:</label>
                            <input type="text" id="nombreMateria" name="nombreMateria" required>
                            <label for="correlativas">Materias Correlativas:</label>
                            <select id="correlativas" name="correlativas" multiple>
                                {{#each materias}}
                                <option value="{{this._id}}">{{this.nombreMateria}}</option>
                                {{/each}}
                            </select>
                            <small>Usar Ctrl para seleccionar varias opciones</small>
                            <input type="hidden" name="idCarrera" value="{{carrera._id}}">
                            <input type="hidden" name="idPlanEstudioSeleccionado" value="{{planEstudio._id}}">
                            <button type="submit">Agregar Materia</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

     
        <script>
            function eliminarMateria(idMateria){

                const idCarrera = $('#idCarrera').val();
                const idPlanEstudio = $('#idPlanEstudio').val();

                $.ajax({
                    url: '/materia/eliminar',
                    type: 'POST',
                    data: {
                        idMateria: idMateria,
                        idCarrera: idCarrera,
                        idPlanEstudio: idPlanEstudio
                    },
                    success: function (data) {
                        console.log(data);
                        if (data.success) {
                            alert('Materia eliminada con éxito');
                            location.reload();
                        } else {
                            alert('Error al eliminar la materia');
                        }
                    },


                });
            });

   }

        </script>


</html>