<!DOCTYPE html>
<html lang="es">

<head>
    <title>Plan de Estudio</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/assets/img/favicon.png" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Styles/main.css" />
    <link rel="stylesheet" href="/Styles/bootstrap.min.css">
    <link rel="stylesheet" href="/Styles/Admin_PlanEstudio.css">

    <script src="/js/jsBoostrap/jquery-3.1.1.min.js"></script>
    <script src="/js/jsBoostrap/bootstrap.min.js"></script>
    <script src="/js/jsBoostrap/sweetalert2.min.js"></script>
    <script src="/js/jsBoostrap/material.min.js"></script>
    <script src="/js/jsBoostrap/ripples.min.js"></script>
    <script src="/js/jsBoostrap/main.js"></script>


</head>

<script>
    const planEstudio = {{{ json planEstudio }}};
</script>

<body>
    <section class="full-box cover dashboard-sideBar">
        <div class="full-box dashboard-sideBar-bg btn-menu-dashboard"></div>
        <div class="full-box dashboard-sideBar-ct">
            <div class="full-box text-uppercase text-center text-titles dashboard-sideBar-title">
                Bedel <i class="zmdi zmdi-close btn-menu-dashboard visible-xs"></i>
            </div>
            <div class="full-box dashboard-sideBar-UserInfo">
                <figure class="full-box">
                    <img src="/assets/img/logo_IES.jpg" alt="UserIcon">
                </figure>
                <ul class="full-box list-unstyled text-center">
                    <li><a href="/logout"><i class="zmdi zmdi-power"></i></a></li>
                </ul>
            </div>
            <ul class="list-unstyled full-box dashboard-sideBar-Menu">
                <li><a href="/Administracion"><i class="zmdi zmdi-graduation-cap zmdi-hc-fw"></i> Carreras</a></li>
                <li><a href="/mesa"><i class="zmdi zmdi-calendar-check zmdi-hc-fw"></i> Mesas</a></li>
                <li><a href="/alumnoEstado"><i class="zmdi zmdi-accounts zmdi-hc-fw"></i> Gestión académica</a></li>
                <li><a href="/AdministracionSuperAdmin"><i class="zmdi zmdi-settings zmdi-hc-fw"></i> Super Admin</a>
                </li>
            </ul>
        </div>
    </section>

    <!-- Contenido de la página principal -->
    <section class="full-box dashboard-contentPage" style="overflow-y: auto; overflow-x: hidden;">
        <nav class="full-box dashboard-Navbar">
            <ul class="full-box list-unstyled text-right">
                <li class="pull-left">
                    <a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
                </li>
            </ul>
        </nav>

        <div class="container mt-4" style="width: 100%; !important">
            <!-- Información de la Carrera -->
            <h3>Información de la Carrera</h3>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Nombre</th>
                        <td>{{carrera.nombreCarrera}}</td>
                    </tr>
                    <tr>
                        <th>Titulo</th>
                        <td>{{carrera.titulo}}</td>
                    </tr>
                    <tr>
                        <th>Carga horaria</th>
                        <td>{{carrera.cargaHoraria}}</td>
                    </tr>
                    <tr>
                        <th>Duracion</th>
                        <td>{{carrera.duracion}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Materias -->
        <div class="container mt-4" style="width: 100%; !important">
            <h4 class="mt-4">Materias</h4>
            <div class="mb-3">
                <button class="btn btn-success btn-lg" data-toggle="modal" data-target="#agregarMateriaModal"
                    style="border-radius: 8px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);">
                    <i class="zmdi zmdi-plus-circle"></i> Añadir Materia
                </button>
            </div>
            {{#if materias}}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre de la Materia</th>
                        <th>Correlativas</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each materias}}
                    <tr data-id="{{this._id}}" data-plan-id="{{planEstudio._id}}" data-carrera-id="{{carrera._id}}">
                        <td>{{this.nombreMateria}}</td>
                        <td>
                            {{#if this.correlativas}}
                            {{#each this.correlativas}}
                            {{this.nombreMateria}}<br>
                            {{/each}}
                            {{else}}
                            Sin correlativas
                            {{/if}}
                        </td>
                        <td>
                            <button class="btn btn-outline-primary btn-sm editar-btn"
                                onclick="mostrarModificarMateriaModal(this)" data-id="{{this._id}}"
                                data-nombre="{{this.nombreMateria}}"
                                data-correlativas="{{#each this.correlativas}}{{this.nombreMateria}},{{/each}}">
                                <i class="zmdi zmdi-edit"></i> Editar
                            </button>
                            <button class="btn btn-outline-danger btn-sm" id="btnEliminarMateria" data-id="{{this._id}}"
                                onclick="eliminarMateria(this)">Eliminar</button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            {{else}}
            No hay materias disponibles
            {{/if}}
        </div>


        <div class="container mt-4" style="width: 100%; !important">
            <h4 class="mt-4">Alumnos</h4>
            <div class="mb-3">
                <button class="btn btn-success btn-lg" data-toggle="modal" data-target="#agregarAlumnoModal"
                    style="border-radius: 8px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);">
                    <i class="zmdi zmdi-plus-circle"></i> Añadir Alumno
                </button>
                <button class="btn btn-info btn-lg" onclick="mostrarAlumnos(false)"
                    style="border-radius: 8px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);">
                    <i class="zmdi zmdi-eye"></i> Ver Alumnos Dados de Baja
                </button>
                <button class="btn btn-primary btn-lg" onclick="mostrarAlumnos(true)"
                    style="border-radius: 8px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);">
                    <i class="zmdi zmdi-eye"></i> Ver Alumnos Dados de Alta
                </button>
            </div>

            <!-- Tabla para mostrar los alumnos -->
            <div class="table-responsive">
                <table class="table table-striped" id="tablaAlumnos">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Documento</th>
                            <th>Email</th>
                            <th>Corte</th>
                            <th>Título</th>
                            <th>Psicofísico</th>
                            <th>Partida</th>
                            <th>DNI</th>
                            <th>Analítico</th>
                            <th>Penales</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="alumnosFiltrados">
                    </tbody>
                </table>
            </div>
        </div>



        <!-- Modal para agregar alumno -->
        <div class="modal fade" id="agregarAlumnoModal" tabindex="-1" aria-labelledby="agregarAlumnoModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content shadow-lg border-0 rounded">
                    <div class="modal-header bg-success text-white">
                        <h5 class="modal-title" id="agregarAlumnoModalLabel">Agregar Alumno</h5>
                        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Cerrar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-4">
                        <form id="formAgregar" method="post" action="/alumno/agregarAlumnoPlanEstudio">
                            <div class="form-group">
                                <label for="nombreCompleto" class="font-weight-bold">Nombre Completo:</label>
                                <input type="text" id="nombreCompleto" name="nombreCompleto" class="form-control"
                                    required />
                            </div>
                            <div class="form-group">
                                <label for="numDocAlumn" class="font-weight-bold">Número de Documento:</label>
                                <input type="number" id="numDocAlumn" name="numDocAlumn" class="form-control" required
                                    placeholder="Sin puntos" />
                            </div>
                            <div class="form-group">
                                <label for="nombre" class="font-weight-bold">Nombre:</label>
                                <input type="text" id="nombre" name="nombre" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label for="corte" class="font-weight-bold">Corte:</label>
                                <input type="text" id="corte" name="corte" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label for="emailAlumn" class="font-weight-bold">Email:</label>
                                <input type="email" id="emailAlumn" name="emailAlumn" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="curso" class="font-weight-bold">Curso:</label>
                                <input type="text" id="curso" name="curso" class="form-control" required
                                    placeholder="Primero, Segundo, etc" />
                            </div>
                            <div class="form-group form-check">
                                <label for="tituloSecundario" class="font-weight-bold">Título Secundario:</label>
                                <input type="checkbox" name="tituloSecundario" class="form-check-input" value="true" />
                            </div>
                            <div class="form-group form-check">
                                <label for="psicofisico" class="font-weight-bold">Psicofísico:</label>
                                <input type="checkbox" id="psicofisico" name="psicofisico" class="form-check-input"
                                    value="true" />
                            </div>
                            <div class="form-group form-check">
                                <label for="partidaNacim" class="font-weight-bold">Partida de Nacimiento:</label>
                                <input type="checkbox" id="partidaNacim" name="partidaNacim" class="form-check-input"
                                    value="true" />
                            </div>
                            <div class="form-group form-check">
                                <label for="dniActualizado" class="font-weight-bold">DNI Actualizado:</label>
                                <input type="checkbox" id="dniActualizado" name="dniActualizado"
                                    class="form-check-input" value="true" />
                            </div>
                            <div class="form-group form-check">
                                <label for="analiticoFiel" class="font-weight-bold">Analítico Fiel:</label>
                                <input type="checkbox" id="analiticoFiel" name="analiticoFiel" class="form-check-input"
                                    value="true" />
                            </div>
                            <div class="form-group form-check">
                                <label for="antecedenPen" class="font-weight-bold">Antecedentes Penales:</label>
                                <input type="checkbox" id="antecedenPen" name="antecedenPen" class="form-check-input"
                                    value="true" />
                            </div>
                            <input type="hidden" name="idCarrera" value="{{carrera._id}}">
                            <input type="hidden" name="idPlanEstudioSeleccionado" value="{{planEstudio._id}}">
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success btn-block">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal de Modificación de alumno -->


        <!-- Modal para agregar materia -->
        <div class="modal fade" id="agregarMateriaModal" tabindex="-1" aria-labelledby="agregarMateriaModalLabel"
            style="z-index: 1231 !important;" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content shadow-lg border-0 rounded">
                    <div class="modal-header bg-primary text-white">
                        <h5 class="modal-title" id="agregarMateriaModalLabel">Agregar Materia</h5>
                        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Cerrar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-4">
                        <form action="/materia/nuevaMateriaPlanDeEstudio" method="POST">
                            <div class="form-group">
                                <label for="nombreMateria" class="font-weight-bold">Nombre de la Materia:</label>
                                <input type="text" id="nombreMateria" name="nombreMateria" class="form-control"
                                    required>
                            </div>
                            <div class="form-group">
                                <label for="correlativas" class="font-weight-bold">Materias Correlativas:</label>
                                <select id="correlativas" name="correlativas" class="form-control" multiple>
                                    {{#each materias}}
                                    <option value="{{this._id}}">{{this.nombreMateria}}</option>
                                    {{/each}}
                                </select>
                                <small class="text-muted">Usar Ctrl para seleccionar varias opciones</small>
                            </div>
                            <input type="hidden" name="idCarrera" value="{{carrera._id}}">
                            <input type="hidden" name="idPlanEstudioSeleccionado" value="{{planEstudio._id}}">
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Agregar Materia</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal de Modificación de Materia -->
        <div class="modal fade" id="modificarMateriaModal" tabindex="-1" aria-labelledby="modificarMateriaModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="modificarMateriaModalLabel">Modificar Materia</h3>
                    </div>
                    <div class="modal-body">
                        <form id="formModificarMateria">
                            <div class="mb-3">
                                <label for="nombreMateria" class="form-label">Nuevo Nombre de la Materia</label>
                                <input type="text" class="form-control" id="nombreMateria" required>
                            </div>
                            <div class="mb-3">
                                <label for="correlativas" class="form-label">Correlativas Actuales</label>
                                <ul id="listaCorrelativas" class="list-group mb-3"></ul>
                            </div>
                            <div class="mb-3">
                                <label for="nuevaCorrelativa" class="form-label">Agregar Nueva Correlativa</label>
                                <select class="form-select" id="nuevaCorrelativa">
                                    <option value="">Seleccione una materia</option>
                                    {{#each materias}}
                                    <option value="{{this._id}}">{{this.nombreMateria}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <input type="hidden" id="idMateria" value="{{this._id}}">
                            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>


    </section>

    <script src="/js/Admin_PlanEstudio.js"></script>
</body>

</html>