<!DOCTYPE html>
<html lang="es">

<head>
    <title>Plan de Estudio</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="assets/img/favicon.png" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Styles/main.css" />
    <link rel="stylesheet" href="/Styles/Admin_PlanEstudio.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/Admin_PlanEstudio.js"></script>
</head>

<body>
    <section class="full-box cover dashboard-sideBar">
        <div class="full-box dashboard-sideBar-bg btn-menu-dashboard"></div>
        <div class="full-box dashboard-sideBar-ct">
            <div class="full-box text-uppercase text-center text-titles dashboard-sideBar-title">
                Bedel <i class="zmdi zmdi-close btn-menu-dashboard visible-xs"></i>
            </div>
            <div class="full-box dashboard-sideBar-UserInfo">
                <figure class="full-box">
                    <img src="/assets/img/logo_IES.jpg" alt="UserIcon">
                </figure>
                <ul class="full-box list-unstyled text-center">
                    <li><a href="#" class="btn-exit-system" id="logout-button"><i class="zmdi zmdi-power"></i></a></li>
                </ul>
            </div>
            <ul class="list-unstyled full-box dashboard-sideBar-Menu">
                <li><a href="/Administracion"><i class="zmdi zmdi-graduation-cap zmdi-hc-fw"></i> Carreras</a></li>
                <li><a href="/mesa"><i class="zmdi zmdi-calendar-check zmdi-hc-fw"></i> Mesas</a></li>
                <li><a href="/alumnoEstado"><i class="zmdi zmdi-accounts zmdi-hc-fw"></i> Gestión académica</a></li>
                <li><a href="/AdministracionSuperAdmin"><i class="zmdi zmdi-settings zmdi-hc-fw"></i> Super Admin</a>
                </li>
            </ul>
        </div>
    </section>

    <!-- Contenido de la página principal -->
    <section class="full-box dashboard-contentPage" style="overflow-y: auto; overflow-x: hidden;">
        <nav class="full-box dashboard-Navbar">
            <ul class="full-box list-unstyled text-right">
                <li class="pull-left">
                    <a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
                </li>
            </ul>
        </nav>

        <div class="container mt-4">
            <!-- Información de la Carrera -->
            <h3>Información de la Carrera</h3>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Nombre</th>
                        <td>{{carrera.nombreCarrera}}</td>
                    </tr>
                    <tr>
                        <th>Titulo</th>
                        <td>{{carrera.titulo}}</td>
                    </tr>
                    <tr>
                        <th>Carga horaria</th>
                        <td>{{carrera.cargaHoraria}}</td>
                    </tr>
                    <tr>
                        <th>Duracion</th>
                        <td>{{carrera.duracion}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Materias -->
        <div class="container mt-4">
            <h4 class="mt-4">Materias</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre de la Materia</th>
                        <th>Correlativas</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each planEstudio.materias}}
                    <tr>
                        <td>{{this.nombreMateria}}</td>
                        <td>
                            {{#each this.correlativas}}
                            {{this.nombreMateria}}<br>
                            {{/each}}
                        </td>
                        <td>
                            <!-- Botones de acción como editar o eliminar -->
                            <button class="btn btn-warning">Editar</button>
                            <button class="btn btn-danger">Eliminar</button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class="container mt-4">
            <h4 class="mt-4">Alumnos</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre Completo</th>
                        <th>Número de Documento</th>
                        <th>Email</th>
                        <th>Curso</th>
                        <th>Título Secundario</th>
                        <th>Psicofísico</th>
                        <th>Partida de Nacimiento</th>
                        <th>DNI Actualizado</th>
                        <th>Analítico Fiel</th>
                        <th>Antecedentes Penales</th>
                        <th>Bandera Booleana</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each planEstudio.alumnos}}
                    <tr>
                        <td>{{this.nombreCompleto}}</td>
                        <td>{{this.numDocAlumn}}</td>
                        <td>{{this.emailAlumn}}</td>
                        <td>{{this.curso}}</td>
                        <td>{{#if this.tituloSecundario}}Sí{{else}}No{{/if}}</td>
                        <td>{{#if this.psicofisico}}Sí{{else}}No{{/if}}</td>
                        <td>{{#if this.partidaNacim}}Sí{{else}}No{{/if}}</td>
                        <td>{{#if this.dniActualizado}}Sí{{else}}No{{/if}}</td>
                        <td>{{#if this.analiticoFiel}}Sí{{else}}No{{/if}}</td>
                        <td>{{#if this.antecedenPen}}Sí{{else}}No{{/if}}</td>
                        <td>{{#if this.banderaBooleana}}Sí{{else}}No{{/if}}</td>
                        <td>
                            <button class="btn btn-warning">Editar</button>
                            <button class="btn btn-danger">Eliminar</button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>


</html>