<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestión de Alumnos - IES 9-024 Lavalle</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }

        .header {
            display: flex;
            align-items: center;
            padding: 10px;
            background-color: #fff;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .logo-container {
            flex: 0 0 auto;
        }

        .logo {
            max-width: 100px;
            margin-right: 20px;
        }

        .title-container {
            flex: 1;
            text-align: center;
        }

        h1 {
            color: #e67e22;
            margin: 0;
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            background-color: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        th,
        td {
            padding: 12px;
            border: 1px solid #ddd;
            text-align: left;
        }

        th {
            background-color: #2ecc71;
            color: white;
        }

        .message {
            color: green;
            font-weight: bold;
            padding: 10px;
            border: 1px solid green;
            background-color: #eaffea;
            margin-bottom: 20px;
            border-radius: 5px;
        }

        .error-message {
            color: #e74c3c;
            font-weight: bold;
            padding: 10px;
            border: 1px solid #e74c3c;
            background-color: #feecec;
            margin-bottom: 20px;
            border-radius: 5px;
        }

        .btn {
            padding: 8px 12px;
            border: none;
            cursor: pointer;
            border-radius: 4px;
            margin-bottom: 10px;
        }

        .btn-add {
            background-color: #3498db;
            color: white;
        }

        .btn-edit {
            background-color: #f39c12;
            color: white;
        }

        .btn-delete {
            background-color: #e74c3c;
            color: white;
        }

        .btn-volver {
            background-color: #16c0c2;
            color: white;
        }

        form {
            background-color: white;
            padding: 20px;
            margin-bottom: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: none;
        }

        input[type="text"],
        input[type="email"],
        input[type="number"],
        select {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .form-group label {
            display: inline-block;
            width: 200px;
        }

        #carreraFilter {
            margin-bottom: 20px;
        }
    </style>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const toggleFormButton = document.getElementById("toggleForm");
            const form = document.querySelector("form");

            toggleFormButton.addEventListener("click", function () {
                if (form.style.display === "none" || form.style.display === "") {
                    form.style.display = "block";
                    toggleFormButton.textContent = "Ocultar Formulario";
                } else {
                    form.style.display = "none";
                    toggleFormButton.textContent = "Agregar Nuevo Alumno";
                }
            });

            const urlParams = new URLSearchParams(window.location.search);
            const message = urlParams.get('message');
            const error = urlParams.get('error');
            const messageContainer = document.getElementById('messageContainer');

            if (message) {
                const messageElem = document.createElement('p');
                messageElem.className = 'message';
                messageElem.textContent = message;
                messageContainer.appendChild(messageElem);
            }
            if (error) {
                const errorElem = document.createElement('p');
                errorElem.className = 'error-message';
                errorElem.textContent = error;
                messageContainer.appendChild(errorElem);
            }

            const btnVolver = document.getElementById("btnDarDeVolver");

            btnVolver.addEventListener("click", function () {
                window.location.href = "/";
            });
        });
    </script>
</head>

<body>
    <div class="header">
        <div class="logo-container">
            <a href="/bedelMenu.hbs">
                <img src="/Resources/logoceil.png" alt="Logo IES 9-024 Lavalle" class="logo" />
            </a>
        </div>
        <div class="title-container">
            <h1>Gestión de Alumnos - IES 9-024 Lavalle</h1>
        </div>
    </div>

    <div class="container">
        <button id="toggleForm" class="btn btn-add">Agregar Nuevo Alumno</button>
        <button id="btnModificar" class="btn btn-edit">Modificar Alumno</button>
        <button id="btnDarDeBaja" class="btn btn-delete">Dar de Baja Alumno</button>
        <button id="btnDarDeVolver" class="btn btn-volver">Volver</button>
        <div id="messageContainer"></div>
        <form method="post" action="/alumno/agregar">
            <label for="nombreCompleto">Nombre Completo:</label>
            <input type="text" id="nombreCompleto" name="nombreCompleto" required />

            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required />

            <label for="numDocAlumn">Número de Documento:</label>
            <input type="number" id="numDocAlumn" name="numDocAlumn" required />

            <label for="corte">Corte:</label>
            <input type="text" id="corte" name="corte" required />

            <label for="tituloSecundario">Título Secundario:</label>
            <input type="checkbox" name="tituloSecundario" value="true" />

            <label for="psicofisico">Psicofísico:</label>
            <input type="checkbox" id="psicofisico" name="psicofisico" value="true" />

            <label for="partidaNacim">Partida de Nacimiento:</label>
            <input type="checkbox" id="partidaNacim" name="partidaNacim" value="true" />

            <label for="dniActualizado">DNI Actualizado:</label>
            <input type="checkbox" id="dniActualizado" name="dniActualizado" value="true" />

            <label for="analiticoFiel">Analítico Fiel:</label>
            <input type="checkbox" id="analiticoFiel" name="analiticoFiel" value="true" />

            <label for="antecedenPen">Antecedentes Penales:</label>
            <input type="checkbox" id="antecedenPen" name="antecedenPen" value="true" />

            <input type="submit" value="Enviar" />
        </form>



        <table id="alumnosTable">
            <thead>
                <tr>
                    <th>Nombre Completo</th>
                    <th>Número de Documento</th>
                    <th>Email</th>
                    <th>Nombre</th>
                    <th>Corte</th>
                    <th>Título Secundario</th>
                    <th>Psicofísico</th>
                    <th>Partida de Nacimiento</th>
                    <th>DNI Actualizado</th>
                    <th>Analítico Fiel</th>
                    <th>Antecedentes Penales</th>
                </tr>
            </thead>
            <tbody>
                {{#each alumnos}}
                <tr>
                    <td>{{nombreCompleto}}</td>
                    <td>{{numDocAlumn}}</td>
                    <td>{{emailAlumm}}</td>
                    <td>{{nombre}}</td>
                    <td>{{corte}}</td>
                    <td>{{#if tituloSecundario}}Sí{{else}}No{{/if}}</td>
                    <td>{{#if psicofisico}}Sí{{else}}No{{/if}}</td>
                    <td>{{#if partidaNacim}}Sí{{else}}No{{/if}}</td>
                    <td>{{#if dniActualizado}}Sí{{else}}No{{/if}}</td>
                    <td>{{#if analiticoFiel}}Sí{{else}}No{{/if}}</td>
                    <td>{{#if antecedenPen}}Sí{{else}}No{{/if}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>

    </div>

</body>

</html>