<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestión de Alumnos - IES 9-024 Lavalle</title>
  
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const toggleFormButton = document.getElementById("toggleForm");
            const form = document.querySelector("form");

            toggleFormButton.addEventListener("click", function () {
                if (form.style.display === "none" || form.style.display === "") {
                    form.style.display = "block";
                    toggleFormButton.textContent = "Ocultar Formulario";
                } else {
                    form.style.display = "none";
                    toggleFormButton.textContent = "Agregar Nuevo Alumno";
                }
            });

            const btnModificar = document.getElementById("btnModificar");
             const formModifciar = document.querySelector("formModifciar");
             btnModificar.addEventListener("click", function () {
                if (formModifciar.style.display === "none" || form.style.display === "") {
                    formModifciar.style.display = "block";
                    btnModificar.textContent = "Ocultar Formulario";
                } else {
                    formModifciar.style.display = "none";
                    btnModificar.textContent = "Agregar Nuevo Alumno";
                }
            });

            const urlParams = new URLSearchParams(window.location.search);
            const message = urlParams.get('message');
            const error = urlParams.get('error');
            const messageContainer = document.getElementById('messageContainer');

            if (message) {
                const messageElem = document.createElement('p');
                messageElem.className = 'message';
                messageElem.textContent = message;
                messageContainer.appendChild(messageElem);
            }
            if (error) {
                const errorElem = document.createElement('p');
                errorElem.className = 'error-message';
                errorElem.textContent = error;
                messageContainer.appendChild(errorElem);
            }

            const btnVolver = document.getElementById("btnDarDeVolver");

            btnVolver.addEventListener("click", function () {
                window.location.href = "/";
            });
        });
    </script>
</head>

<body>
    <div class="header">
        <div class="logo-container">
            <a href="/bedelMenu.hbs">
                <img src="/Resources/logoceil.png" alt="Logo IES 9-024 Lavalle" class="logo" />
            </a>
        </div>
        <div class="title-container">
            <h1>Gestión de Alumnos - IES 9-024 Lavalle</h1>
        </div>
    </div>

    <div class="container">
        <button id="toggleForm" class="btn btn-add">Agregar Nuevo Alumno</button>
        <button id="btnModificar" class="btn btn-edit">Modificar Alumno</button>
        <button id="btnEliminar" class="btn btn-delete">Eliminar Alumno</button>
        <button id="btnDarDeBaja" class="btn btn-delete">Dar de Baja Alumno</button>
        <button id="btnDarDeVolver" class="btn btn-volver">Volver</button>
        <div id="messageContainer"></div>
        <form method="post" action="/alumno/agregar">
            <label for="nombreCompleto">Nombre Completo:</label>
            <input type="text" id="nombreCompleto" name="nombreCompleto" required />

            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required />

            <label for="numDocAlumn">Número de Documento:</label>
            <input type="number" id="numDocAlumn" name="numDocAlumn" required />

            <label for="corte">Corte:</label>
            <input type="text" id="corte" name="corte" required />

            <label for="tituloSecundario">Título Secundario:</label>
            <input type="checkbox" name="tituloSecundario" value="true" />

            <label for="psicofisico">Psicofísico:</label>
            <input type="checkbox" id="psicofisico" name="psicofisico" value="true" />

            <label for="partidaNacim">Partida de Nacimiento:</label>
            <input type="checkbox" id="partidaNacim" name="partidaNacim" value="true" />

            <label for="dniActualizado">DNI Actualizado:</label>
            <input type="checkbox" id="dniActualizado" name="dniActualizado" value="true" />

            <label for="analiticoFiel">Analítico Fiel:</label>
            <input type="checkbox" id="analiticoFiel" name="analiticoFiel" value="true" />

            <label for="antecedenPen">Antecedentes Penales:</label>
            <input type="checkbox" id="antecedenPen" name="antecedenPen" value="true" />

            <input type="submit" value="Enviar" />
        </form>


        <form id = "formModifciar" method="delete" action="/alumno/eliminar">
            <h1>Ingrese el documento del alumno que quiere eliminar</h>
            <label for="numDocAlumn">Número de Documento:</label>
            <input type="number" id="numDocAlumn" name="numDocAlumn" required />
            <input type="submit" value="Enviar" />
        </form>


        <table id="alumnosTable">
            <thead>
                <tr>
                    <th>Nombre Completo</th>
                    <th>Número de Documento</th>
                    <th>Email</th>
                    <th>Nombre</th>
                    <th>Corte</th>
                    <th>Título Secundario</th>
                    <th>Psicofísico</th>
                    <th>Partida de Nacimiento</th>
                    <th>DNI Actualizado</th>
                    <th>Analítico Fiel</th>
                    <th>Antecedentes Penales</th>
                </tr>
            </thead>
            <tbody>
                {{#each alumnos}}
                <tr>
                    <td>{{nombreCompleto}}</td>
                    <td>{{numDocAlumn}}</td>
                    <td>{{emailAlumm}}</td>
                    <td>{{nombre}}</td>
                    <td>{{corte}}</td>
                    <td>{{#if tituloSecundario}}Sí{{else}}No{{/if}}</td>
                    <td>{{#if psicofisico}}Sí{{else}}No{{/if}}</td>
                    <td>{{#if partidaNacim}}Sí{{else}}No{{/if}}</td>
                    <td>{{#if dniActualizado}}Sí{{else}}No{{/if}}</td>
                    <td>{{#if analiticoFiel}}Sí{{else}}No{{/if}}</td>
                    <td>{{#if antecedenPen}}Sí{{else}}No{{/if}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>

    </div>

</body>

</html>